/* Colors used
Text color:         #1c4154
Primary text color:         #071f35
Secondary text color:       #24496b
Reserve color 1:            #446d92
Reserve color 2:            #98b1c8
Reserve color 3:            #eff6ff
*/
:root {
    --primary-color: #357b70;
    --secondary-color: #e6e7df;
    --dark-grey: #2b2b2b;
    --primary-background-color:blanchedalmond;
    --secondary-background-color:#29178f;
    --default-text-color: white;
    --link-color: #24496b;
    --link-visited-color: purple;
    --link-active-color: red;
    --transp-black: rgba(0, 0, 0, 0.3);
    --default-font-family: "Lato", sans-serif;
    --default-font-size: 18px;
    --small-font-size: 12px;
    --default-h1-size: 36px;
    --default-h2-size: 30px;
    --default-h3-size: 24px;
    --default-h4-size: 18px;
    --default-line-height: 1.8;
    --regular-font-weight: 400;
    --bold-font-weight: 700;
    --black-font-weight: 900;
    --small-padding: 10px;
    --medium-padding: 20px;
    --large-padding: 30px;
    --default-margin: 50px;
    --small-margin: 15px;
    --small-grid-gap: 10px;
    --medium-grid-gap: 20px;
    --large-grig-gap: 30px;
    --small-phone-screen: 460px;
    --large-phone-screen: 512px;
    --small-tablet-screen: 900px;
    --large-tablet-screen: 1200px;
    --laptop-screen: 1800px;
    --opacity-semi-transparent: 0.5;
    --opacity-slight-transparent: 0.8;
    /* Override default Bootstrap colors for my custom look 
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-bg: #2d665e;
    --bs-btn-hover-border-color: #2d665e;
    --bs-btn-active-bg: #26554d;
    --bs-btn-active-border-color: #26554d;
    --bs-btn-focus-shadow-rgb: 53, 123, 112;
    */
}

* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    width: 100%;
    padding: var(--medium-padding);
}
.page-header__item {
    flex: 0 1 100px;
}
.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}
/*
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: var(--small-margin);
}
.navigation-list__item--active {
  text-decoration: none;
}
*/
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: var(--default-margin);
    margin-bottom: var(--default-margin);
}

.homepage-heading {
    margin: var(--default-margin);
    text-align: center;
}

.loading-message {
    text-align: center;
    color: var(--default-text-color);
    background-color: var(--secondary-background-color);
    padding: var(--large-padding);
}

.paging-buttons {
    display: flex;
    justify-content: center; /* This centers the items horizontally */
    align-items: center; /* This centers the items vertically */
    gap: var(--small-grid-gap); /* Adds space between the buttons */
}

.prev-button,
.next-button {
    background-color: var(--primary-background-color);
    border: none;
    padding: var(--small-padding); 
}

.hidden {       /* Hides the object on the page */
    display: none;
}

body {
    background-color:var(--primary-background-color);
}

.pokemon-list {
    max-width: 1200px;
}